<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Demo App</span>
  <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px' class='ml-16'>
    <button mat-stroked-button routerLink="/first-section">
      <div>Section 1</div>
    </button>
    <button mat-stroked-button routerLink="/second-section">
      <div>Section 2</div>
    </button>
    <button mat-stroked-button routerLink="/third-section">
      <div>Section 3</div>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
